<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Library</title> 
    <link rel="stylesheet" href="css/home.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head> 
<body> 
    <section class="header"> 
        <nav> 
            <a href="Library.html"><span class="lib">Library</span></a> 
            <div class="nav-links"> 
                
                <ul> 
                    <li><a href="/lib">HOME</a></li> 
                    <li><a href="/login">LOGIN</a></li> 
                    <li><a href="/aboutus">ABOUT</a></li> 
                    <li><a href="">CONTACT</a></li> 
                </ul> 
            </div> 
            <i class="fa fa-bars"></i> 
        </nav>         <div class="text-box"> 
            <h1 class="exp">Explore Multiple Library Resources</h1> 
            <div class="search-box"> 
                <input class="search-txt" type="text" name="" placeholder="Type to search"> 
                <a class="search-btn" href=""> 
                    <i class="fas fa-search"></i> 
                </a> 
            </div> 
        </div> 
    </section> 
    <!-----category-----> 
    <section class="category"> 

        <h1 class="exp">Category</h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam, natus autem amet, tempora iste alias 
            quod accusamus ea ratione assumenda veniam hic. Porro placeat impedit voluptates earum, mollitia ad?</p> 
        <div class="row"> 
            <div class="category-col"> 
                <h3>Engineering</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consequuntur vero ipsam adipisci sunt 
                    libero cupiditate tempora, accusantium aspernatur pariatur impedit officia quasi explicabo, animi 
                    tempore fuga est. Sint, mollitia.</p> 
            </div> 
            <div class="category-col"> 
                <h3>Medical</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consequuntur vero ipsam adipisci sunt 
                    libero cupiditate tempora, accusantium aspernatur pariatur impedit officia quasi explicabo, animi 
                    tempore fuga est. Sint, mollitia.</p> 
            </div> 
            <div class="category-col"> 
                <h3>Humanities</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consequuntur vero ipsam adipisci sunt 
                    libero cupiditate tempora, accusantium aspernatur pariatur impedit officia quasi explicabo, animi 
                    tempore fuga est. Sint, mollitia.</p> 
            </div>  
        </div> 
    </section> 
    <!-----Services----->  
    <section class="services"> 
        <h1 class="exp">Our Services</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur in totam eius cumque necessitatibus rem 
            odio officia dolores tempore laborum. Placeat error nulla aspernatur officiis mollitia dignissimos 
            consequatur modi quia?</p> 
        <div class="row"></div> 
        <div class="services-col"></div> 
    </section>
</body>
</html>