<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <section class="sub-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/lib"><img src="https://img.icons8.com/external-flat-lima-studio/2x/external-book-university-flat-lima-studio.png" alt="" width="30" height="30">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/lib">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </section>

    <!----login page content-------->
    <section class="login">
        <div class="center">
            <h1>Login</h1>
            <form action="post">
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label for="">Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <span></span>
                    <label for="">Password</label>
                </div>
                <div class="pass">Forget Password</div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href="#">Signup</a>
                </div>
            </form>
        </div>
    </section>

    <!-- <section class="footer">
        <h4>About Us</h4>
        <p>This is your one stop destination for all your book needs, from your course books like engineering, medical
            etc to novels and journals. <b>
            </b></p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut autem rerum minima ab, nisi sit architecto
            repudiandae aliquid distinctio saepe quibusdam <br> enim esse error voluptatum deserunt, eaque temporibus ea
            soluta!</p>
        <p>Made by Team</p>
    </section> -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>